@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    width: 1280px;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}
<<<<<<< HEAD

#logotipo h3 {
    font-family: 'Sansita Swashed', cursive, sans-serif;
    font-family: 'Sansita Swashed', cursive, sans-serif;
    font-weight:      bold;
    font-style:     normal;
    color: white;
    text-align: center;
}
=======

>>>>>>> 680e190db7ab0c97a1213932a9195946c837d38e
