@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700&display=swap');

body {
    width: 1280px;
    font-family: 'Sansita Swashed', cursive, sans-serif;
}

#wrapper {
    margin: 0 auto;
    text-align: center;
}