@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    width: 1280px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(39, 39, 39);
    color: white;
    margin: 0 auto;
    font-size: 16   px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    text-align: center;
}

#logotipo a:active, a:hover, a{
    font-style: normal;
    text-decoration: none;
    color:white;
}

#logotipo h3 {
    font-family: 'Sansita Swashed', cursive, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 42px;
}

#logotipo {
    border-bottom: 2px white solid;
    margin-bottom: 40px;
}

#jogo {
    height: 600px;
}

#tabuleiro {
    border: 3px solid white;
}

#tabuleiro table{
  background-color: rgb(10, 129, 10);
  width: 100%;
  height: 70%;
  text-align: center;
}

#tabuleiro table, th, td {
    border-collapse: collapse;
}

#tabuleiro table tbody {
    text-align: center; 
}

#tabuleiro table tr td{
    border: 3px solid black;
    height: 40px;
    width: 40px;
}

#tabuleiro table tr{
    border: 3px solid black;
    height: 40px;
    width: 40px;
}

#tabuleiro table tr th{
    height: 25px;
    width: 30px;
    background-color: rgb(5, 78, 5);
    border: 3px solid black;
    color: rgba(255, 255, 255, 0.459);
    font-size: 11px;
    font-weight: bold;
}

#tabuleiro table td div{
    text-align: center;
    vertical-align: center;
    position: relative;
    margin: 0 auto;
}

table th {
    background-color:rgba(255,255,255, 0.5);
}

table tr:nth-child(2n) td,
table tr td:nth-child(2n-1) {
    background-color:rgba(0,0,0, 0.5);
}

table tr:nth-child(2n) td:nth-child(2n-1) {
    background-color:rgba(0,0,0, 0.1);
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.white{
  background-color: white;
}

.white:hover {
    border: 1px solid black;
}

.black{
    background-color: black;
}

.black:hover{
    border: 1px solid white;
}

.placeholder{
    background-color: rgba(10, 87, 10, 0.767);
}

.placeholder:hover{
    border: 2px solid rgb(0, 255, 115);
}

.placeholder:active{
    border: 2px solid rgb(0, 238, 255);
}

#lado-esq {
    width: 38.1%;
    height: 100%;
    float: left;
}

#btn-tabuleiro {
    width: 100%;
    height: 14%;
    display: inline-block;
}

#editor {
    width: 42%;
    min-height: 60.50%;
    height: auto;
    float: left;
    padding: 25px;
    padding-top: 15px;
    border: 3px solid white;
}

#mensagens, #configuracao, #identificacao, #classicacoes, #estado{
  display: none;
}

#menu {
    float: left;
    width: 15.0%;
    border: 2px solid white;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

#menu ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
}

#menu ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
}

#menu ul li:hover {
    background-color: rgb(54, 54, 54);
}

#menu ul li a, a:visited{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover{
    color: rgb(25, 206, 206);
}

#menu ul li a:active  {
    color: rgb(25, 109, 206);
}

#identificacao #normal form {
    margin-top: 10px;
}

#identificacao #normal form input {
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 240px;
}

#identificacao #normal form input[type=submit]{
    width: 150px;
    height: 35px;
}

#authenticated {
    display:none;
}

#authenticated form {
    border: 0px;
    margin: 3px;
}

input[type=submit]{
    color: white;
    background-color: transparent;
    border: 1px white solid;
    font-size: 15px;
    min-width: 90px;
    min-height: 40px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

input[type=submit]:hover{
    color: rgb(25, 206, 206);
    background-color: rgb(54, 54, 54);
}

input[type=submit]:active{
    color: rgb(25, 109, 206);
}

select {
    min-width: 150px;
    text-align: center;
}

#instructions ul {
    list-style: none;
    padding: 0;
}

#instructions ul li {
    font-weight: bold;
    margin-bottom: 10px;
}

#configuracao{
    padding-top: 10px;
}

#configuracao form select{
    margin-bottom: 15px;
    margin-top: 5px;
}

#mensagens {
    font-size: 18px;
}
